header{
    #top-header{
        background-color: $blue;
            a{
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            text-decoration: none;
        }
    }
    #main-header{
            border-bottom: 1px solid lightgray;
        nav ul {
            list-style-type: none;
            margin-bottom: 0;
            padding: 0;
            li{
                padding: 40px 0px; 
                &:hover a{
                    border-bottom: 4px solid $blue;
                }
                a{
                    padding: 40px 0px; 
                    color: #000000;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }
        input[type="text"]{
            border: none;
            border-bottom: 2px solid $blue;
        }
    }
}
