// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

// Generics
@import 'generics';

// Utilities
@import 'utilities';

// Header
@import 'header';

// Jumbotron
@import 'jumbo';

// Comics Main
@import 'comics_main';
// Comic
@import 'comic';

// Footer
@import 'footer';